@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/* @import "tailwindcss/preflight"; */
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@custom-variant dark{&:where(.dark,.dark *)}
*{
  font-family: Saira,sans-serif;
}
@theme{
  --color-dark-100:#lalala;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#8B5CF6;
  --color-pink:#EC4899;
  --color-blue:#3B82F6;

}
.typewriter{
  overflow: hidden;
  border-right: 0.15em solid #393446;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20,end) forwards,blink-caret 0.75s step-end 4;
}
@keyframes typing {
  from {width: 0;}
  to {width: 15ch;}
}
@keyframes blink-cart {
  from,to{border-color:transparent ;}
  50% {border-color: darkorchid;}
}
@layer utilities{
  .gradient{
    background:linear-gradient();
  }
}
body {
  margin: 0;
  background: black;
  color: white;
}

.page-content {
  position: relative;
  z-index: 1;
}

